@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Inter";
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}
.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.fadeGradient {
  background: linear-gradient(to top, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0));
}

.uploadIcon {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.164);
}

.profileUpload:hover .uploadIcon {
  opacity: 1;
}
